<div id="shortcut">
    <div class="w">
        <ul class="fl">
            <li class="fore0 dorpdown" id="ttbar-mycity">
                <div class="dt cw-icon ui-areamini-text-wrap" style="">
                    <i class="iconfont_geoLacation"></i>
                    <i class="ci-left"></i>
                    <span class="ui-areamini-text" data-id="1" title="北京">北京</span>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="ui-areamini-content-wrap" style="left: auto;">
                        <div class="ui-areamini-content">
                            <div class="ui-areamini-content-list">
                                #foreach( $item in $province )
                                    <div class="item">
                                        <a data-id="$item.proID" href="javascript:void(0)" class="selected">$item.name</a>
                                    </div>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="fr">
            <li class="fore1 icon-plus-state0" id="ttbar-login">
                <a href="javascript:login();" class="link-login">你好，请登录</a>&nbsp;&nbsp;<a href="javascript:regist();" class="link-regist style-red">免费注册</a>
            </li>
            <li class="spacer"></li>
            <li class="fore2">
                <div class="dt">
                    <a target="_blank" href="//order.jd.com/center/list.action">我的订单</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore3 dorpdown" id="ttbar-myjd">
                <div class="dt cw-icon">
                    <a target="_blank" href="//home.jd.com/">$myjd.dorpdown</a>
                    <i class="ci-right">
                        <s>◇</s>
                    </i>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    #foreach( $myjdlist in $myjd.dorpdown-layer )
                        <div class="myjdlist myjdlist$velocityCount">
                            #foreach( $fore in $myjdlist )
                                <div class="fore$velocityCount">
                                    #foreach( $item in $fore )
                                        <div class="item">
                                            <a href="javascript:void(0)" target="_blank">$item.cont
                                                <span id="$item.id"></span></a>
                                        </div>
                                    #end
                                </div>
                            #end
                        </div>
                    #end
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore4">
                <div class="dt">
                    <a target="_blank" href="//vip.jd.com/">京东会员</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore5">
                <div class="dt">
                    <a target="_blank" href="//b.jd.com/">企业采购</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore8 dorpdown" id="ttbar-serv">
                <div class="dt cw-icon">$serv.dorpdown
                    <i class="ci-right">
                        <s>◇</s>
                    </i>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    #foreach( $itemAll in $serv.dorpdown-layer )
                        <div class="item-$itemAll.dtClassName">$itemAll.dt</div>
                        #foreach( $item in $itemAll.dd )
                            <div class="item">
                                <a href="javascript:void(0)" target="_blank" true="">$item</a>
                            </div>
                        #end
                    #end
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore9 dorpdown" id="ttbar-navs" data-load="1">
                <div class="dt cw-icon">$navs.dorpdown
                    <i class="ci-right">
                        <s>◇</s>
                    </i>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    #foreach( $fore in $navs.dorpdown-layer )
                        <dl class="fore$velocityCount">
                            <dt>$fore.dt</dt>
                            <dd>
                                #foreach( $item in $fore.dd )
                                    <div class="item">
                                        <a href="javascript:void(0)" target="_blank">$item</a>
                                    </div>
                                #end
                            </dd>
                        </dl>
                    #end
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore10 mobile" id="J_mobile">
                <div class="dt mobile_txt">手机京东</div>
                <div class="mobile_static">
                    <div class="mobile_static_qrcode"></div>
                </div>
                <div id="J_mobile_pop" class="mobile_pop">
                    <div class="mobile_pop_item">
                        <div class="mobile_pop_qrcode mobile_pop_qrcode_1">
                            <img src="//img10.360buyimg.com/da/jfs/t7525/251/1899038567/28110/d5764256/59a51bf6Nb8e478cc.png">
                        </div>
                        <div class="mobile_pop_info">
                            <h5 class="mobile_pop_tit">
                                <a href="//app.jd.com/" target="_blank">手机京东</a>
                            </h5>
                            <p class="mobile_pop_value">新人专享大礼包</p>
                            <p class="mobile_pop_device">
                                <a
                                    class="mobile_pop_device_lk mobile_pop_device_ios"
                                    href="https://itunes.apple.com/cn/app/id414245413"
                                    target="_blank">APP Store</a>
                                <a
                                    class="mobile_pop_device_lk mobile_pop_device_and"
                                    href="https://storage.jd.com/jdmobile/JDMALL-PC2.apk"
                                    target="_blank">安卓市场</a>
                                <a
                                    class="mobile_pop_device_lk mobile_pop_device_pad"
                                    href="https://itunes.apple.com/cn/app/jing-dong-hd/id434374726"
                                    target="_blank">APP Store</a>
                            </p>
                        </div>
                    </div>
                    <div class="mobile_pop_item">
                        <div class="mobile_pop_qrcode mobile_pop_qrcode_2">
                            <img src="//img30.360buyimg.com/da/jfs/t3907/165/1380364192/12868/f47b703b/5874a54dNcec29924.jpg">
                        </div>
                        <div class="mobile_pop_info">
                            <h5 class="mobile_pop_tit">关注京东微信</h5>
                            <p class="mobile_pop_value">微信扫一扫关注
                                <br>新粉最高180元
                                <br>惊喜礼包</p>
                        </div>
                    </div>
                    <div class="mobile_pop_item">
                        <div class="mobile_pop_qrcode mobile_pop_qrcode_3">
                            <img src="//img13.360buyimg.com/da/jfs/t4018/193/1415357059/15408/876d5d6e/5874a555Ne8192324.jpg">
                        </div>
                        <div class="mobile_pop_info">
                            <h5 class="mobile_pop_tit">
                                <a href="https://m.jr.jd.com/helppage/downApp/jrAppPromote.html" target="_blank">京东金融客户端</a>
                            </h5>
                            <p class="mobile_pop_value">新人专享大礼包</p>
                            <p class="mobile_pop_device">
                                <a
                                    class="mobile_pop_device_lk mobile_pop_device_ios"
                                    href="https://itunes.apple.com/cn/app/jing-dong-jin-rong-hui-li/id895682747?mt=8"
                                    target="_blank">APP Store</a>
                                <a
                                    class="mobile_pop_device_lk mobile_pop_device_and"
                                    href="http://211.151.9.66/downapp/jrapp_jr188.apk"
                                    target="_blank">安卓市场</a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>