.nav {
    height: 85px;
}
.nav_inner {
    display: flex;
    justify-content: space-between;
    li {
        flex: 1;
        text-align: center;
        height: 85px;
        line-height: 85px;
        cursor: pointer;
        &.active {
            .dt a  {
                color:#0195ff;
            }
        }
        &:first-child {
           margin-right: 35px;
        }
        &:hover {
            .dt a  {
                color:#fff;
            }
            background-color: #0195ff;
        }
        .dt a {
            color: #000000;
        }
    }
}

.dorpdown {
    position: relative;
    &:hover {
        .dorpdown-layer {
            display: block;
            background-color: #fff;
        }
    }
    .dorpdown-layer {
        width: 275px;
        position: absolute;
        left: 0;
        top: 85px;
        display: none;
        a {
            display: block;
            width: 100%;
            height: 40px;
            text-align: left;
            line-height: 40px;
            color: #000;
            font-size: 14px;
            padding-left: 20px;
        }
    }
}

.fore-tools .iconfont_search > img {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 5px;
}