.nav{width:100%;height:85px;background:#fff}
.nav .nav_inner{max-width: 1384px;height: 85px;margin: 0 auto;position: relative;display:flex;}
.nav .nav_inner .nav_inner_left{width: 75%;display:flex;}
.nav .nav_inner li{font-size:18px;list-style:none;float:left;height:85px;width:120px;text-align:center;line-height:85px;cursor:pointer;position:relative}
.nav .nav_inner li>a{display:inline-block;width:100%;height:100%;color:#000;font-size:16px}
.nav .nav_inner li>a>img{vertical-align:middle;margin-bottom:2px;margin-left:5px}
.nav .nav_inner li .list{width:277px;background:#fff;font-size:12px;box-shadow:2px 4px 3px rgba(119,119,119,.45);position:absolute;z-index:99;display:none}
.nav .nav_inner li .list>a{display:block;width:100%;text-align:left;height:40px;line-height:40px;color:#000;font-size:14px;padding-left:20px}
.nav .nav_inner li .list>a>.icon-jiantou{font-size:12px;color:#0195ff;margin-left:8px}
.nav .nav_inner li .list>a:hover{background:#0195ff;color:#fff}
.nav .nav_inner li .list>a:hover>.icon-jiantou{color:#fff}
.nav .nav_inner li.active>a{color:#0195ff}
.nav .nav_inner li:hover .list{display:block}
.nav .nav_inner li:hover{background:#0195ff}
.nav .nav_inner li:hover>a{color:#fff}
.nav .nav_inner .nav_inner_right{overflow: hidden;width: 20%;display: inline-block;}
